
@{
    ViewData["Title"] = "DisplayEmpDetails";
}

<h1>Display Employee Details</h1>

<table class="table">
    <tr>
        <td>Employee Id</td>
        <td>
            @ViewBag.EmpId
        </td>
    </tr>

    <tr>
        <td>Name</td>
        <td>
            @ViewBag.Name
        </td>
    </tr>

    <tr>
        <td>Gender</td>
        <td>
            @ViewBag.Gender
        </td>
    </tr>


    <tr>
        <td>Department</td>
        <td>
            @ViewBag.Departments
        </td>
    </tr>

    <tr>
        <td>Salary</td>
        <td>
            @ViewBag.Salary
        </td>
    </tr>

</table>

